<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partialsa/header.ejs') %>
    
    <main class="main-content">

        <div class="title-top">
            <h2>Tendencias</h2>
            <a href="#" id="clearFilter"><h3>Ver Todo</h3></a>
        </div>

        <div class="container-allmain">
            <% products.forEach(element => { %>
                <a href="/products/detail/<%= element.id %>"></a>
                <div class="productos list-group-item p-3">
                    <picture><img src="images/<%= element.image %>" alt="<%= element.description %>" /></picture>
                </div>
                
                <div class="informacion">
                    <span class="tip-envio">En stock</span>
                    <div class="container-prices">
                        <span class="precio-ahora">$<%= (element.price - (element.price * 0.1)) %></span>
                        <span class="precio-anterior">$<%= element.price %></span>
                    </div>
                    <span class="tipo-entrega">Entrega inmediata</span>
                    <span class="name-product"><%= element.name %></span>

                    <input type="text" name="categoryId" id="categoryId" hidden value="<%= element.categoryId %>"> 
                </div>
            </div>

        <% }); %>
    </main>

    <% if(userLogged && userLogged.perfil == 'Admin') { %>
        <ul class="botones">
            <a href="/users" class="crear-editar">USUARIOS</a>
            <a href="/register" class="crear-editar">CREAR USUARIOS</a>
        </ul>
    <% } %>

    <footer class="main-footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
    <script src="./js/search-filter.js"></script>
    <script src="./js/category-filter.js"></script>
    <script src="./js/hamburguer.js"></script>
</html>